.quote-wrapper{
    border: 1px solid black;
    height: 200px;
    margin: 10px auto;
    box-shadow: 5px 10px #888888;
}
.input-datepicker{
    border-top:none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid grey;
}