<div class="col-md-4 quote-wrapper" *ngFor="let quote of quotes">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2" *ngIf="quote.User.profilepic">
                    <img src="{{quote.User.profilepic}}" height="25" width="25" class="rounded-circle" name="userimage"
                        id="uimg">
                </div>
                <div class="col-md-2" *ngIf="!quote.User.profilepic">
                    <div class="rounded-circle; text-center initials">
                        {{getInitials(quote.User.firstname, quote.User.lastname)}}
                    </div>
                </div>
                <div class="col-md-10">
                    <mat-select [(ngModel)]="quote.userid" class="name-selectbox select-arrow"
                        (selectionChange)="updateUser(quote)">
                        <mat-option *ngFor="let user of users" [value]="user.id" value="test" style="color:#D8D8D5">
                            <p>
                                <span class="rounded-circle; text-center initials" *ngIf="!user.profilepic">
                                    {{getInitials(user.firstname, user.lastname)}}
                                </span>
                                <span *ngIf="user.profilepic">
                                    <img src="{{user.profilepic}}" height="25" width="25" class="rounded-circle" />
                                </span>
                                <span>
                                    {{user.firstname}} {{user.lastname}}
                                </span>
                            </p>
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <mat-form-field class="no-line datepicker-width field-margin">
                <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <input matInput [matDatepicker]="picker" [(ngModel)]="quote.dateadded">
            </mat-form-field>
        </div>
    </div>
    <div class="row" style="min-height: 60px">
        <div class="col-md-12">
            <mat-form-field class="no-line field-margin-text-area">
                <textarea matInput matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"
                    style="overflow:hidden" [(ngModel)]="quote.description"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <mat-form-field class="no-line field-margin">
                <mat-select [(ngModel)]="quote.category" class="select-arrow">
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>